@import url('./utils/vars.scss');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
    color: var(--link-primary);

    &:visited {
        color: var(--link-visited);
    }
}