.icon-button {
    background-color: var(--interactive-primary);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: var(--interactive-primary-hover);
    }

    &:focus {
        outline: 4px solid var(--border-focus-state);
    }

    &:active {
        background-color: var(--interactive-primary-click);
    }


    img {
        width: 80%;
        height: 80%;
    }
}